header{
    background-color: black;
}

h1{ 
    text-align: center;
    color: white;
    }

#image2{
    width: 20%;
    height: 20%;
}

#image3{
    width: 22.5%;
    height: 23%;
   
}

#image4{
    width: 15%;
    height: 20%;
    
}
#image5{
    width: 20%;
    height: 20%;
    
}
#image6{
    width: 20%;
    height: 20%;
    
}

.image23456{
    display: flex;justify-content: center;

}

ul{
    text-align: center;

}

main{
    background-color: rgb(8, 155, 62);
}

